$primary-color: #4c4c47;
$secondary-color: #848fa5;
$secondary-color-background: #b7c1d6;
$tertiary-color: #c14953;
$background-color: #e5dcc5;
$font-color: #2d2d2a;
$error-font-color: #b82601;

//second colors

$main-color: #000000;
$fir-color: #062f4f;
$sec-color: #813772;
$thi-color: #b82601;
$tile-background: rgb(201, 193, 193);
