.admin-bookings {
  @include page-settings;
  @include flex-center;
  position: fixed;

  &__datepicker {
    @include flex-center;
    position: absolute;
    top: 1rem;

    input {
      color: $third-color;
      font-weight: 700;
      font-size: 1.25rem;
      text-align: center;
    }
  }
}
