.admin-search {
  @include page-settings;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  &__input {
    margin-top: 1rem;

    input {
      text-align: center;
      color: $thi-color;
    }
  }
  &__list {
    @include tile;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    width: 75%;

    & > div {
      display: flex;
      justify-content: space-around;
      padding: 0.25rem 0rem;
      &:first-child {
        border-bottom: 1px solid $thi-color;
        margin-bottom: 0.5rem;
        p {
          font-size: 1.25rem;
          font-weight: 700;
        }
      }

      & > p {
        width: 100%;
        font-size: 1.25rem;
      }
    }
  }
}
