.admin-user {
  @include flex-center-column;
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    color: $third-color;
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: $third-color;
  }
  &__details {
    width: 100%;
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-evenly;
    p {
      width: 100%;
      font-size: 1.25rem;
      text-align: center;
      span {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
