.homepage {
  h1 {
    margin: 1rem;
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
    span {
      font-size: 2.5rem;
      color: $third-color;
    }
  }
  h3 {
    font-size: 1.5rem;
  }
  span {
    font-size: 3rem;
    color: $third-color;
  }

  &__front {
    @include page-settings;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
      url("../assets/background-front.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  &__instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;

    &--header {
      margin-top: 3rem;
      display: flex;
      align-items: flex-end;
    }
  }
  &__tiles {
    margin-top: -10rem;
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
  }

  &__tile {
    @include tile;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 100%;
    overflow: hidden;
    opacity: 0;

    &.animate {
      &:nth-child(1) {
        @include animation("fade-in 2s 1");
      }
      &:nth-child(3) {
        @include animation("fade-in 2s 1");
        animation-delay: 0.5s;
      }
      &:nth-child(5) {
        @include animation("fade-in 2s 1");
        animation-delay: 1s;
      }
      &:nth-child(7) {
        @include animation("fade-in 2s 1");
        animation-delay: 1.5s;
      }
      &:nth-child(9) {
        @include animation("fade-in 2s 1");
        animation-delay: 2s;
      }
    }

    &__icon {
      color: $second-color;
      height: 10rem;
      padding: 1rem;
      width: 100%;
    }
    &__arrow {
      opacity: 0;
      color: $third-color;
      height: 5rem;
      width: 10rem;
      &.animate {
        &:nth-child(2) {
          @include animation("fade-in 2s 1");
          animation-delay: 0.25s;
        }
        &:nth-child(4) {
          @include animation("fade-in 2s 1");
          animation-delay: 0.75s;
        }
        &:nth-child(6) {
          @include animation("fade-in 2s 1");
          animation-delay: 1.25s;
        }
        &:nth-child(8) {
          @include animation("fade-in 2s 1");
          animation-delay: 1.75s;
        }
      }
    }

    &__wrapper {
      @include flex-center;
      background-color: $tile-secondary-color;

      width: 100%;
      height: 5rem;
      text-align: center;
      &--top {
        @include flex-center;
        background-color: rgb(201, 193, 193);
        padding: 2.5rem 0rem;
        border-bottom: 0.25rem solid $first-color;
      }
    }
  }

  &__welcome {
    margin: 2rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    padding: 5rem;
    button {
      font-size: 2rem;
      width: 10rem;
      margin: 1rem;
      margin-bottom: 5rem;
    }
  }
}

@media only screen and (max-width: 860px) {
  .homepage {
    height: auto;

    &__front {
      height: 100vh;
    }
    &__tiles {
      flex-direction: column;
      width: auto;
      margin-top: 0;

      &:last-child {
        margin-bottom: 2rem;
      }
    }

    &__tile {
      width: 80%;
      &__arrow {
        transform: rotate(90deg);
        height: 5rem;
        width: 3rem;
      }
      &__wrapper {
        &--top {
          width: 100%;
        }
      }
    }

    &__instruction {
      height: auto;

      &--header {
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .homepage {
    &__tile {
      width: 60%;
    }
  }
}
