.signup {
  @include flex-center;
  @include page-settings;
}

.form {
  &__wrapper {
    @include flex-center-column;
    @include tile;
    position: relative;
    padding: 3rem 5rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
      color: $thi-color;
    }
  }

  &__error {
    &.main {
      position: absolute;
      font-size: 1rem;
      height: 2rem;
      top: 1rem;
    }
  }

  &__input {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
  }

  &__error {
    position: absolute;
    color: $error-font-color;
    font-size: 0.75rem;
    bottom: -1.25rem;
  }

  &__button {
    margin-top: 1rem;
  }
}
