.user-bookings {
  @include page-settings;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__slots {
    @include flex-center-column;
    @include tile;
    border-radius: 5%;
    width: 80%;
    padding: 1.5rem 1rem;
  }

  &__slot {
    padding: 0.25rem;
    display: flex;
    width: 100%;
    font-size: 1.25rem;

    &.header {
      font-weight: 700;
      border-bottom: 1px solid $thi-color;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 3rem;
    color: $thi-color;
  }
}
