label {
  font-size: 0.75rem;
  color: black;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 1.25rem;
  color: black;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.booking__slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.booking__slot {
  border: 0.25rem solid #000000;
  border-radius: 10%;
  background-color: #c9c1c1;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 1rem;
  height: 10rem;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.booking__slot--taken {
  background-color: #4c4c47;
}

.booking__slot--available {
  background-color: #848fa5;
}

.booking__slot--available--selected {
  background-color: #062f4f;
}

.booking__slot--available--selected button {
  background-color: #b82601;
}

.booking__slot--available--selected button:hover {
  background-color: #b82601;
}

.booking__button {
  margin-top: 1rem;
}

.booking__error {
  position: absolute;
  bottom: -2rem;
  color: #b82601;
}

.booking__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.error {
  position: absolute;
  top: 2rem;
  color: #b82601;
}

.footer {
  height: 20vh;
  width: 100%;
  background-color: black;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__icon {
  color: #b82601;
  height: 4rem;
  width: 4rem;
}

.container__text {
  color: white;
  padding-top: 1rem;
  text-align: center;
}

.logout {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  height: 7vh;
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
}

.navigation__logo--icon {
  color: #4c4c47;
  height: 2rem;
  width: 2rem;
}

.navigation__links {
  height: 100%;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation__links a {
  text-decoration: none;
  color: white;
}

.navigation__links a.selected > li {
  color: #b82601;
}

.navigation__links li {
  list-style-type: none;
}

.userboard__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 93vh;
}

.userboard__datepicker {
  position: absolute;
  top: 1rem;
}

.userboard__datepicker input {
  color: #b82601;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  padding: 1em 0rem 0rem 0rem;
}

.ReactModal__Overlay--after-open {
  position: relative;
}

.ReactModal__Content.ReactModal__Content--after-open {
  border-radius: 5% !important;
  border: 3px solid black !important;
  background-color: #c9c1c1 !important;
}

.ReactModal__Content.ReactModal__Content--after-open h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.ReactModal__Content.ReactModal__Content--after-open button {
  margin: 1rem;
}

button {
  outline: 0;
  width: 7.5rem;
  padding: 0.75rem 0.75rem;
  font-weight: 100;
  border-radius: 1rem;
  color: white;
  border: 0.15rem solid black;
  background-color: black;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

button:hover {
  background-color: #062f4f;
  border: 0.15rem solid #062f4f;
}

button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  border: 0.15rem solid #062f4f;
  background-color: #062f4f;
}

button.cancel {
  padding: 0.25rem;
  font-size: 0.75rem;
  width: auto;
}

button.cancel:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  border: 0.15rem solid #062f4f;
  background-color: #062f4f;
}

.homepage h1 {
  margin: 1rem;
  font-size: 3rem;
}

.homepage h2 {
  font-size: 2.5rem;
}

.homepage h2 span {
  font-size: 2.5rem;
  color: #b82601;
}

.homepage h3 {
  font-size: 1.5rem;
}

.homepage span {
  font-size: 3rem;
  color: #b82601;
}

.homepage__front {
  height: 93vh;
  width: 100%;
  min-height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url("../assets/background-front.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../assets/background-front.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.homepage__instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.homepage__instruction--header {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.homepage__tiles {
  margin-top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage__tile {
  border: 0.25rem solid #000000;
  border-radius: 10%;
  background-color: #c9c1c1;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  width: 100%;
  overflow: hidden;
}

.homepage__tile__icon {
  color: #062f4f;
  height: 10rem;
  padding: 1rem;
  width: 100%;
}

.homepage__tile__arrow {
  color: #b82601;
  height: 5rem;
  width: 10rem;
}

.homepage__tile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #848fa5;
  width: 100%;
  height: 5rem;
  text-align: center;
}

.homepage__tile__wrapper--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c9c1c1;
  padding: 2.5rem 0rem;
  border-bottom: 0.25rem solid #000000;
}

.homepage__welcome {
  margin: 2rem;
  text-align: center;
}

.homepage__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
}

.homepage__buttons button {
  font-size: 2rem;
  width: 10rem;
  margin: 1rem;
  margin-bottom: 5rem;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 93vh;
  width: 100%;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.25rem solid #000000;
  border-radius: 10%;
  background-color: #c9c1c1;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  padding: 3rem 5rem;
}

.form__wrapper h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #b82601;
}

.form__input {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
}

.form__error {
  position: absolute;
  color: #b82601;
  font-size: 0.75rem;
  bottom: -1.25rem;
}

.form__button {
  margin-top: 1rem;
}

.user-bookings {
  height: 93vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user-bookings__slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.25rem solid #000000;
  border-radius: 10%;
  background-color: #c9c1c1;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5%;
  width: 80%;
  padding: 1.5rem 1rem;
}

.user-bookings__slot {
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 1.25rem;
}

.user-bookings__slot.header {
  font-weight: 700;
  border-bottom: 1px solid #b82601;
}

.user-bookings h2 {
  font-size: 2rem;
  margin: 3rem;
  color: #b82601;
}

.user-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 93vh;
  width: 100%;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

.App {
  background-color: white;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */