.booking {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;

  &__slot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    height: 10rem;
    border: 3px solid $primary-color;
    transition: background-color 0.5s ease;

    &--taken {
      background-color: $primary-color;
    }

    &--available {
      background-color: $secondary-color;

      &--selected {
        background-color: $tertiary-color;

        button {
          background-color: $tertiary-color;
        }
      }
    }
  }
}
