.footer {
  height: 25vh;
  width: 100%;
  background-color: black;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 2rem;
    padding-top: 2rem;
  }
}

.container {
  @include flex-center-column;

  &__icon {
    color: $thi-color;
    height: 4rem;
    width: 4rem;
  }

  &__text {
    color: white;
    padding-top: 1rem;
    text-align: center;
  }
}
