.navigation {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 7vh;

  &__logo {
    @include flex-center;
    padding-left: 2rem;

    &--icon {
      color: $tile-primary-color;
      height: 2rem;
      width: 2rem;
    }
  }

  &__links {
    height: 100%;
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: white;

      &.selected > li {
        color: $third-color;
      }
    }
    li {
      list-style-type: none;
    }
  }
}
