.userboard {
  &__wrapper {
    @include flex-center;
    position: relative;
    flex-direction: column;
    height: 93vh;
  }

  &__datepicker {
    position: absolute;
    top: 1rem;
  }

  &__logout {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
