button {
  outline: 0;
  width: 7.5rem;
  padding: 0.75rem 0.75rem;
  font-weight: 100;
  border-radius: 1rem;
  color: white;
  border: 0.15rem solid black;
  background-color: black;

  transition: background-color 1s ease;
  &:hover {
    background-color: $fir-color;
    border: 0.15rem solid $fir-color;
  }
  &:active {
    transform: translateY(4px);
    border: 0.2rem solid $fir-color;
    background-color: $fir-color;
  }
}
