button {
  outline: 0;
  width: 7.5rem;
  padding: 0.5rem 0.75rem;
  font-weight: 900;
  border: 0.2rem solid $primary-color;
  background-color: $background-color;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: $tertiary-color;
  }
  &:active {
    transform: translateY(4px);
    border: 0.2rem solid $primary-color;
    background-color: $tertiary-color;
  }
}
