button {
  outline: 0;
  width: 7.5rem;
  padding: 0.75rem 0.75rem;
  font-weight: 100;
  border-radius: 1rem;
  color: white;
  border: none;
  background-color: black;

  transition: background-color 1s ease;
  &:hover {
    background-color: $second-color;
    border: none;
  }
  &:active {
    transform: translateY(4px);
    border: none;
    background-color: $second-color;
  }

  &.cancel {
    padding: 0.25rem;
    font-size: 0.75rem;
    width: auto;
    &:active {
      transform: translateY(4px);
      border: none;
      background-color: $second-color;
    }
  }
}
