label {
  font-size: 0.75rem;
  color: black;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 1.25rem;
  color: black;

  &:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
  }
}
